# Dependencies
node_modules/
package-lock.json

# Environment
.env
.env.local
.env.production

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
*.log
npm-debug.log*
logs/

# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.vscode/
.idea/
*.sublime-project

# Testing
coverage/

# Build
dist/
build/
